doctype html
html
  head
    meta(charset="UTF-8")
    title JS + CSS Clock
    link(rel="stylesheet", href="style.css")
  body
    .clock
      .clock_face
        .hand.hour_hand
        .hand.min_hand
        .hand.second_hand
        .center

script(type="text/javascript", src="./main.js")